BOT_TOKEN=8803541116:AAF_JF8eihtbABGlMODU2n4uA3B5QPm8bYQ
OWNER_ID=80145544
RVG_BASE_URL=https://panel.example.com/dashboard
RVG_BOT_API_KEY=PASTE_SAME_SECRET_AS_RVG_PANEL
CARD_NUMBER=6037997493339221
CARD_HOLDER=کرمی
DATABASE_URL=postgresql+asyncpg://USER:PASSWORD@HOST:PORT/DB
BOT_NAME=RVG Store
SUPPORT_USERNAME=repair_phone
